# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Virtual Environment
venv/

# IDEs and Editors
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Pytest
htmlcov/
.coverage

# Docker
*.env
.env
*.pid
*.sock
docker-compose.override.yml

# Postman
*.postman_collection.json
